    
{% extends "Basic.html" %}
{% block title_extension %}Sign-Up{% endblock %}
{% load static %}
{% block css_extension %}
    <link rel="stylesheet" href="{% static 'CSS Source/Profile_Settings.css'%}">
{% endblock %}
{% block js_extension %}
    <script src="{% static 'JS Source/Profile_Settings.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <form class="change-password">        
        <table cellpadding="2">
            <tbody>
                <tr>
                    <td><label for="your-old-password">Old Password:</label></td>
                    <td><input type="password" id="your-old-password" required></td>
                </tr>
                
                <tr>
                    <td><label for="new-password">New Password:</label></td>
                    <td><input type="password" id="new-password" required></td>                                
                </tr>
                <tr>
                    <td><label for="confirm-password">Confirm New Password:</label></td>
                    <td><input type="password" id="confirm-password" required></td>
                </tr>
                <input type="button" id="save-password" value="Change Password" onclick="profile_handle_buttons(this);">
            </tbody>
        </table>
    </form>
{% endblock %}
{% block post_js_extension %}
    <script>show_hide_side();</script>
{% endblock %}